<style>@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

/* footer section */
.footer footerspan{
    color: crimson;
}
.footer{
    color: rgba(250, 250, 250, 0.934);
    background-color: black;
    text-align: center;
}
.app-span1{
    color: rgb(232, 28, 13);
}
/* application section 3*/
.application-sec{
    display: flex;
    margin-left: 60px;
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
}
.application img{
  width: 50%;
  margin-top: 15px;
  margin-left: 256px;
 
  
}
.application-det{
    margin-top: 120px;
    padding-right: 80px;
    margin-left: 90px;
}
.app-span{
    color: coral;
}
.anchor{
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 8px;
    color: aliceblue;
    background-color: coral;
    font-weight: 700;
    
}
.application-sech1{
    text-align: center;

}
/* application sec 3 */
.application-sec3{
    display: flex;
    margin-left: 156px;
    background-image: url(images/shapes/shape-9.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.application-det3{
    
            margin-top: 120px;
            padding-right: 0px;
            margin-left: 40px;
        
}
.application img3{
    width: 100%;
    margin-top: 15px;
    margin-right: 157px;
    
   
}

/* application section  5*/
.application-sec5{
    display: flex;
    margin-left: 60px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}

.application img5{
    width: 50%;
    margin-top: 15px;
    margin-left: 256px;


}

.application-det5{
    margin-top: 120px;
    padding-right: 80px;
    margin-left: 90px;
}

.app-span5{
    color: coral;
}

.anchor5{
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 8px;
    color: aliceblue;
    background-color: coral;
    font-weight: 700;

}
/* application section 0 */

.application-sec0{
    display: flex;
    margin-left: 60px;
    
}

.application img0{
    width: 50%;
    margin-top: 15px;
    margin-left: 256px;


}

.application-det0{
    margin-top: 120px;
    padding-right: 80px;
    margin-left: 90px;
}

.app-span0{
    color: coral;
}

.anchor0{
    text-decoration: none;
    padding: 8px 35px;
    border-radius: 8px;
    color: aliceblue;
    background-color: coral;
    font-weight: 700px;}
    
#stayfocus{
    border-left: lightcoral 3px   solid;
   
   
   
}
/* misson-section */

.misson-sec{
    display: flex;
   
}

.half-width {
    width: 50%;
    box-shadow: 10px 10px 10px 10px white;
    padding: 60px;
    margin: 20px;
    background-color: rgb(219, 248, 248);
    border-radius: 20px;
}
.half-width1  img{
    width: 70%;
}
.half-width2 img{
    width: 70%;
}
.half-width3 img{
    width: 70%;
}
.half-width1{
    width: 30%;
    box-shadow: 10px 10px 10px 10px white;
    padding: 40px;
    margin: 60px;
    background-color: rgb(247, 194, 239);
    border-radius: 20px;
}
.half-width2{
    width: 30%;
    box-shadow: 10px 10px 10px 10px white;
    padding: 40px;
    margin: 60px;
    background-color: rgb(241, 237, 191);
    border-radius: 20px;
}
.half-width3{
    width: 30%;
    box-shadow: 10px 10px 10px 10px white;
    padding: 40px;
    margin: 60px;
    background-color: rgb(219, 248, 248);
    border-radius: 20px;
}
.tittle{
    text-align: center;
   
    
}
